.perfil-image-container {
    left: 35%;
    top: 10%;
    width: 400px; /* Tamaño específico */
    height: 200px; /* Tamaño específico */
    position: absolute;
    overflow: hidden; /* Asegura que la imagen no se desborde del contenedor */
}

.perfil-image {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: 100%; /* La imagen ocupa el 100% de la altura del contenedor */
    object-fit: contain; /* La imagen se ajusta manteniendo su relación de aspecto */
    border-radius: 50%; /* hace que la imagen sea un círculo */
}
